@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! Welcome to Octavius's Outrageous Oddities</h1>
    <h3>A warehouse of general nonsense</h3>
    <img src="https://cdn2.iconfinder.com/data/icons/leisure-6/24/d20-dice-512.png" width="50">
</div>
