
@{
    ViewData["Title"] = "InvalidCustomer";
}
<h1>Invalid Customer ID</h1>
<div>
    <p>Please try again with a correct customer ID</p>
</div>
<div>
    <a asp-action="Login">Back to Login</a>
</div>

