
@{
    ViewData["Title"] = "InvalidManager";
}

<h1>Invalid Manager ID</h1>
<div>
    <p>Please try again with a correct manager ID</p>
</div>
<div>
    <a asp-action="Login">Back to Login</a>
</div>


